cxftest.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.tedu.cn/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	name="HelloWSImplService" targetNamespace="http://ws.tedu.cn/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://ws.tedu.cn/" elementFormDefault="unqualified"
			targetNamespace="http://ws.tedu.cn/" version="1.0">
			<xs:element name="introduce" type="tns:introduce" />
			<xs:element name="introduceResponse" type="tns:introduceResponse" />
			<xs:element name="sayHello" type="tns:sayHello" />
			<xs:element name="sayHelloResponse" type="tns:sayHelloResponse" />
			<xs:complexType name="sayHello">
				<xs:sequence>
					<xs:element minOccurs="0" name="arg0" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="sayHelloResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="introduce">
				<xs:sequence>
					<xs:element minOccurs="0" name="arg0" type="xs:string" />
					<xs:element minOccurs="0" name="arg1" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="introduceResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="sayHelloResponse">
		<wsdl:part element="tns:sayHelloResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="introduceResponse">
		<wsdl:part element="tns:introduceResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="sayHello">
		<wsdl:part element="tns:sayHello" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="introduce">
		<wsdl:part element="tns:introduce" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="HelloWS">
		<wsdl:operation name="sayHello">
			<wsdl:input message="tns:sayHello" name="sayHello">
			</wsdl:input>
			<wsdl:output message="tns:sayHelloResponse" name="sayHelloResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="introduce">
			<wsdl:input message="tns:introduce" name="introduce">
			</wsdl:input>
			<wsdl:output message="tns:introduceResponse" name="introduceResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HelloWSImplServiceSoapBinding" type="tns:HelloWS">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="sayHello">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="sayHello">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="sayHelloResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="introduce">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="introduce">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="introduceResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HelloWSImplService">
		<wsdl:port binding="tns:HelloWSImplServiceSoapBinding" name="HelloWSImplPort">
			<soap:address
				location="http://localhost:8888/AAAA-day04-WebService-cxf/hellows" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>